:root {
  --dark: #000;
  --white: #ebebeb;
  --accent: #c3bdfa;
  --dark-gray: #404040;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  letter-spacing: 0;
  font-size: 1em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-size: 1em;
  text-decoration: none;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.container.case-study-blocks {
  grid-column-gap: 5.75em;
  grid-row-gap: 5.75em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.styleguide_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.global_embed {
  width: 0;
  height: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.global_symbol {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.styleguide_rich-text p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.styleguide_rich-text h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3.28em;
}

.styleguide_rich-text h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.5em;
}

.styleguide_rich-text h3 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.19em;
}

.styleguide_rich-text h4 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.88em;
}

.styleguide_rich-text h5 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 1.67em;
}

.styleguide_rich-text h6 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.46em;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.text-size-h1 {
  font-size: 3.28em;
  line-height: 1.2;
}

.text-size-h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.text-size-h3 {
  font-size: 2.19em;
  line-height: 1.3;
}

.text-size-h4 {
  font-size: 1.88em;
  line-height: 1.3;
}

.text-size-h5 {
  font-size: 1.67em;
  line-height: 1.3;
}

.text-size-h6 {
  font-size: 1.46em;
}

.styleguide_form-input {
  height: 3em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  margin-bottom: 1em;
  padding: 0 .9em;
  font-size: 1.25em;
}

.text-size-display {
  font-size: 4.38em;
  line-height: 1.1;
}

.styleguide_form-submit {
  font-size: 1.25em;
}

.styleguide_list {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.page-padding {
  padding: 5em 6%;
}

.body {
  background-color: var(--dark);
  font-size: 1.11111vw;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 1.5em;
}

.nav-link {
  color: var(--white);
  letter-spacing: -.2px;
  mix-blend-mode: difference;
  padding: 0 .25em .125em;
  font-family: Inter, sans-serif;
  font-size: .875em;
  font-weight: 400;
  line-height: 120%;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.w--current, .nav-link.w--current:visited {
  color: var(--white);
}

.nav-link.cta {
  border: .125em solid var(--white);
  border-radius: 10000000000px;
  padding: .75em 1.5em;
}

.nav-link.cta:hover {
  background-color: var(--accent);
  color: var(--dark);
  text-decoration: none;
}

.nav-link.home {
  display: none;
}

.nav-link.home.w--current {
  color: var(--white);
}

.nav-link.contact {
  display: none;
}

.logo {
  color: var(--accent);
  letter-spacing: -.5px;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.nav-desktop-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-links-wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
  display: flex;
}

.cursor {
  z-index: 99;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor_dot {
  width: 1em;
  height: 1em;
  background-color: var(--accent);
  mix-blend-mode: difference;
  border-radius: 999px;
}

.section.home {
  padding-top: 16em;
  padding-bottom: 3em;
}

.section.work {
  margin-bottom: 5.75em;
}

.section.home-approach, .section.principles {
  background-color: var(--accent);
  padding-top: 5.75em;
  padding-bottom: 5.75em;
}

.section.info-cols, .section.case-study-body {
  margin-bottom: 5.75em;
}

.section.case-study {
  padding-top: 13.5em;
  padding-bottom: 3em;
}

.section.schedule {
  margin-top: 3em;
}

.h1 {
  color: var(--white);
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 4em;
  font-weight: 400;
  line-height: 106%;
}

.h1.dark {
  color: var(--dark);
}

.heading-wrapper {
  width: 65em;
  letter-spacing: -.04375em;
}

.projects-wrapper {
  grid-column-gap: .75em;
  grid-row-gap: 3em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project.showcase {
  width: 100%;
  height: 28.75em;
  border: .125em solid var(--dark-gray);
  justify-content: center;
  align-items: center;
  display: flex;
}

.project.showcase.hide {
  display: none;
}

.project-img {
  width: 100%;
  max-width: none;
}

.project-info-wrapper {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: .75em;
  display: flex;
}

.project-name-wrapper {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h5 {
  color: var(--white);
  letter-spacing: -.03125em;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 120%;
}

.h5.dark {
  color: var(--dark);
}

.arrow-icon {
  width: 1.625em;
  max-width: none;
  transform: rotate(0);
}

.arrow-icon.up {
  transform: rotate(-45deg);
}

.project-description-wrapper {
  width: 21.25em;
}

.p {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: .875em;
  font-weight: 400;
  line-height: 130%;
}

.p:hover {
  text-decoration: none;
}

.p.dark {
  color: var(--dark);
}

.p.dark.left {
  text-align: right;
}

.p.gray-violet {
  color: var(--dark-gray);
}

.p.link:hover {
  text-decoration: underline;
}

.showcase-cta {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h2 {
  color: var(--white);
  letter-spacing: -.03125em;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 110%;
}

.h2.dark {
  color: var(--dark);
}

.h2.dark.left {
  text-align: right;
}

.button-round {
  width: 3em;
  height: 3em;
  border: .125em solid var(--white);
  border-radius: 99em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.h2-wrapper {
  width: 50.375em;
}

.info-testi-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5.75em;
  display: flex;
}

.testimonial-wrapper {
  width: 35.75em;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  background-color: var(--dark);
  border-radius: .5em;
  flex-direction: column;
  align-items: center;
  margin-top: 7.375em;
  margin-right: 15.375em;
  padding: 1em;
  display: flex;
}

.text-wrapper {
  width: 21.25em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.quote {
  width: 2.5em;
  max-width: none;
}

.left-quote {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.right-quote {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.testimonial-content {
  width: 21.25em;
}

.testimonial-person {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5em;
  display: flex;
}

.person {
  width: 2.5em;
  max-width: none;
}

.person-detail {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.footer {
  padding-top: 4em;
  padding-bottom: .75em;
}

.upper-footer {
  justify-content: space-between;
  display: flex;
}

.cta-wrapper-footer {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.cta-btn {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.right-footer {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.footer-col {
  width: 6.5em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-col._2 {
  width: 13.875em;
  margin-right: 8em;
}

.footer-links-col {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.footer-links-wrapper {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.lower-footer {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10em;
  display: flex;
}

.footer-logo {
  width: 72.375em;
}

.image {
  width: 100%;
  max-width: none;
}

.services-wrapper {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.service {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.service-image-container {
  width: 50%;
}

.service-info-container {
  width: 50%;
  background-color: var(--accent);
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.5em;
  display: flex;
}

.service-info-container.left {
  justify-content: flex-end;
}

.serive-info {
  width: 21.25em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.serive-info.left {
  align-items: flex-end;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--accent);
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.members-wrapper {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.person-wrapper {
  height: 28.5em;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.person-wrapper.accent {
  height: 28.5em;
  background-color: var(--accent);
}

.person-info {
  padding: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hide {
  display: none;
}

.slide {
  background-color: #b47474;
}

.right-arrow {
  z-index: 999;
  width: 1.6em;
  height: 1.6em;
  border: .04em solid #000;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: -2.1em;
  bottom: auto;
  left: auto;
  right: 0%;
}

.logos-quote-divider {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-wrapper-two {
  max-width: 820px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-info-two {
  max-width: 350px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.clients-quote-two {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.clients-divider {
  width: 90%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clients-info {
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.clients-info-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 24px;
}

.clients-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.navigation-links {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.logo-img {
  width: 6em;
}

.header-mobile {
  display: none;
}

.slider {
  z-index: 99;
  height: 25em;
  background-color: rgba(221, 221, 221, 0);
  margin-top: 7.5em;
}

.left-part-slider {
  width: 40em;
  height: 100%;
  background-color: var(--dark);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  display: flex;
}

.slide-card {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: .5em;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.right-part, .img {
  width: 100%;
}

.mask {
  border-radius: .5em;
  overflow: hidden;
}

.slide-2 {
  border-radius: .5em;
}

.description {
  width: 28.5em;
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.case-study-description {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.5em;
  display: flex;
}

.h3 {
  color: var(--white);
  letter-spacing: -.03125em;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 110%;
}

.h3.dark {
  color: var(--dark);
}

.h3.dark.left {
  text-align: right;
}

.video-bg-1 {
  height: 48.875em;
}

.video-bg-1.video-on-left {
  height: 34em;
}

.background-video {
  height: 100%;
}

.project-col {
  width: 28.5em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  display: flex;
}

.project-col.sm {
  width: 21.25em;
}

.project-col.sm.center {
  width: 21.25em;
  margin-right: 8em;
}

.project-col.left {
  margin-right: 8em;
}

.info-col {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.info-col.bottom {
  margin-top: 3em;
}

.case-block {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.left-text {
  width: 19.5em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.left-text.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 3em;
}

.p-text-wrapper {
  width: 100%;
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.illustrations {
  width: 65em;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.case-navbar {
  width: 100%;
  padding-top: 4em;
}

.arrow-big {
  width: 4em;
}

.list-p {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

._2-videos {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: .75em;
  display: grid;
}

.link {
  text-decoration: none;
}

.link:hover, .link.koto {
  text-decoration: underline;
}

.arrow {
  width: 1.6em;
  max-width: 1.625em;
}

.swiper-button-prev {
  height: 48px;
  background-color: #bb8282;
}

.arrow-btn {
  z-index: 999;
  width: 3em;
  height: 3em;
  border: .04em solid #000;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  font-size: 1.11111vw;
  display: flex;
  top: -4.5em;
  bottom: auto;
  left: auto;
  right: 0%;
}

.arrow-btn:hover {
  background-color: var(--accent);
}

.arrow-btn.right {
  width: 3em;
  height: 3em;
  font-size: 1.1111vw;
}

.arrow-btn.left {
  right: 3.5em;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: none;
    padding-left: 24px;
    padding-right: 24px;
  }

  .body {
    font-size: 16px;
  }

  .nav-link {
    color: var(--white);
    mix-blend-mode: normal;
  }

  .nav-link.w--current, .nav-link.w--current:visited {
    color: var(--white);
  }

  .nav-link.contact {
    display: none;
  }

  .section.home {
    padding-top: 192px;
    padding-bottom: 48px;
  }

  .section.work {
    margin-bottom: 64px;
  }

  .section.home-approach {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.principles {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section.case-study-body {
    margin-bottom: 64px;
  }

  .section.case-study {
    padding-top: 192px;
    padding-bottom: 48px;
  }

  .h1 {
    font-size: 48px;
  }

  .heading-wrapper {
    width: 100%;
    max-width: 800px;
  }

  .projects-wrapper {
    grid-column-gap: 12px;
    grid-row-gap: 48px;
  }

  .project.showcase {
    height: 100%;
    max-height: 31.4vw;
  }

  .project-info-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 12px;
  }

  .h5 {
    letter-spacing: -.6px;
    font-size: 20px;
  }

  .p {
    font-size: 14px;
  }

  .h2 {
    font-size: 32px;
  }

  .h2-wrapper {
    width: 100%;
    max-width: 532px;
  }

  .info-testi-wrapper {
    flex-direction: column-reverse;
    margin-top: 48px;
  }

  .testimonial-wrapper {
    width: 532px;
    margin-top: 48px;
    margin-right: 0;
    padding: 16px;
  }

  .text-wrapper {
    width: 342px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-right: 0;
  }

  .text-wrapper.left {
    margin-left: 48.4vw;
  }

  .quote {
    width: 40px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .footer {
    padding-top: 64px;
  }

  .upper-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-footer {
    width: 100%;
    margin-top: 64px;
  }

  .footer-col._2 {
    width: 50%;
    margin-right: 0;
    padding-right: 6px;
  }

  .footer-links-col {
    width: 50%;
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    justify-content: flex-start;
    padding-left: 6px;
  }

  .lower-footer {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 64px;
  }

  .footer-logo {
    width: 100%;
  }

  .serive-info.left {
    align-items: flex-end;
  }

  .members-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .person-wrapper {
    height: 28.5em;
  }

  .person-wrapper.hide-tablet {
    display: none;
  }

  .container-3 {
    max-width: 728px;
  }

  .clients-quote-two {
    font-size: 28px;
    line-height: 36px;
  }

  .header-mobile {
    display: none;
  }

  .left-part-slider {
    padding-right: 1.5em;
  }

  .right-part {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .img.sslider {
    width: auto;
    height: 100%;
    max-width: none;
  }

  .h3 {
    font-size: 32px;
  }

  .video-bg-1 {
    width: 100%;
    height: 51vw;
  }

  .video-bg-1.video-on-left {
    height: 51vw;
  }

  .background-video {
    width: 100%;
  }

  .info-col {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    flex-direction: column;
  }

  .case-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .left-text.sticky {
    width: 520px;
    margin-bottom: 24px;
    position: static;
  }

  .p-text-wrapper {
    width: 342px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-right: 0;
  }

  .p-text-wrapper.left {
    margin-left: 48.4vw;
  }

  .p-text-wrapper.case {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .illustrations {
    width: 100%;
  }

  .arrow-btn, .arrow-btn.right {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container.nav-container {
    width: 100%;
    justify-content: space-between;
  }

  .nav-bar {
    z-index: 12;
    padding-top: 12px;
  }

  .nav-link {
    color: var(--dark);
    mix-blend-mode: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 0;
    padding-left: 0;
    font-family: Ppneuemontreal Book, sans-serif;
    font-size: 40px;
    line-height: 110%;
  }

  .nav-link:hover, .nav-link:active, .nav-link:focus {
    color: var(--dark);
  }

  .nav-link:focus-visible {
    color: var(--dark);
  }

  .nav-link[data-wf-focus-visible], .nav-link:visited {
    color: var(--dark);
  }

  .nav-link.w--current {
    color: var(--dark);
    mix-blend-mode: normal;
  }

  .nav-link.cta {
    display: none;
  }

  .nav-link.home {
    color: var(--dark);
    mix-blend-mode: normal;
    margin-left: 0;
    display: block;
  }

  .nav-link.home:focus-visible {
    color: var(--dark);
  }

  .nav-link.home[data-wf-focus-visible] {
    color: var(--dark);
  }

  .nav-link.home:visited {
    color: var(--dark);
    mix-blend-mode: normal;
  }

  .nav-link.contact {
    display: block;
  }

  .nav-links-wrapper {
    z-index: 999;
    width: 100%;
    height: 100vh;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-color: var(--accent);
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 20px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .section.home-approach {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .h1 {
    font-size: 48px;
  }

  .projects-wrapper {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .project.showcase {
    height: 296px;
    max-height: 296px;
  }

  .p.dark.left.mobile {
    text-align: left;
  }

  .h2 {
    font-size: 40px;
  }

  .h2.dark.left.mobile {
    text-align: left;
  }

  .info-testi-wrapper {
    margin-top: 24px;
  }

  .testimonial-wrapper {
    width: 100%;
    max-width: 519px;
    align-items: center;
    margin-top: 24px;
  }

  .text-wrapper.left {
    margin-left: 0;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-links-col {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .service {
    flex-direction: column;
  }

  .service.reverse {
    flex-direction: column-reverse;
  }

  .service-image-container {
    width: 100%;
  }

  .service-info-container {
    width: 100%;
    padding-bottom: 48px;
  }

  .service-info-container.left {
    justify-content: flex-start;
  }

  .members-wrapper {
    grid-template-columns: 1fr;
  }

  .person-wrapper {
    height: 100%;
  }

  .person-wrapper.accent {
    height: 4em;
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .menu-icon {
    width: 24px;
  }

  .menu-button {
    margin-right: -12px;
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: rgba(255, 255, 255, 0);
  }

  .navigation-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .brand {
    padding-left: 0;
  }

  .logos-quote-divider {
    padding: 60px 15px;
  }

  .clients-wrapper-two {
    flex-direction: column;
  }

  .clients-info-two {
    max-width: none;
    margin-bottom: 40px;
  }

  .clients-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
  }

  .navigation-links {
    height: 90vh;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 128px;
    display: flex;
  }

  .header-mobile {
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .slider {
    height: 100%;
  }

  .left-part-slider {
    width: 100%;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .slide-card {
    flex-direction: column;
  }

  .right-part {
    height: 180px;
  }

  .img.sslider {
    width: 100%;
    height: auto;
  }

  .left-arrow {
    display: none;
  }

  .case-study-description {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .h3 {
    font-size: 32px;
  }

  .h3.dark.left.mobile {
    text-align: left;
  }

  .video-bg-1.phone {
    height: 110vw;
  }

  .left-text.sticky {
    width: 100%;
  }

  .p-text-wrapper.left {
    margin-left: 0;
  }

  .arrow-big {
    width: 3em;
  }

  ._2-videos {
    grid-template-columns: 1fr;
  }

  .arrow-btn {
    display: none;
  }

  .arrow-btn.right, .arrow-btn.left {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    font-size: 36px;
  }

  .nav-link.w--current {
    color: var(--dark);
  }

  .nav-links-wrapper {
    flex-direction: column;
  }

  .section.info-cols {
    margin-bottom: 64px;
  }

  .h1 {
    font-size: 40px;
  }

  .h1.case {
    font-size: 48px;
  }

  .project-description-wrapper {
    width: 100%;
  }

  .p.dark.left.mobile, .h2.dark.left.mobile {
    text-align: left;
  }

  .text-wrapper {
    width: 100%;
    max-width: none;
  }

  .text-wrapper.left {
    width: 100%;
  }

  .left-quote {
    margin-bottom: 16px;
  }

  .right-quote {
    margin-top: 16px;
  }

  .testimonial-content {
    width: 100%;
  }

  .container-2 {
    max-width: none;
  }

  .footer {
    padding-top: 48px;
    padding-bottom: 0;
  }

  .right-footer {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    margin-top: 48px;
  }

  .footer-col {
    width: 50%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .footer-col._2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .footer-col.right {
    padding-left: 6px;
  }

  .footer-links-col {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 0;
  }

  .footer-links-wrapper {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .service.reverse {
    flex-direction: column-reverse;
  }

  .service-info-container {
    padding: 24px 20px 48px;
  }

  .serive-info.left {
    align-items: flex-start;
  }

  .person-wrapper {
    height: 100%;
  }

  .menu-icon {
    width: 24px;
  }

  .container-3 {
    max-width: none;
  }

  .clients-quote-two {
    font-size: 24px;
    line-height: 32px;
  }

  .clients-info-image {
    margin-right: 16px;
  }

  .clients-grid {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .logo-img {
    width: 92px;
  }

  .header-mobile {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .left-part-slider {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-part {
    height: auto;
  }

  .description, .description.case {
    width: 100%;
  }

  .h3.dark.left.mobile {
    text-align: left;
  }

  .video-bg-1.phone {
    height: 110vw;
  }

  .project-col.sm {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .project-col.sm.center {
    width: 100%;
  }

  .project-col.left {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .info-col {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .info-col.bottom {
    margin-top: 2em;
  }

  .left-text.sticky {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .p-text-wrapper {
    width: 100%;
    max-width: none;
  }

  .p-text-wrapper.left {
    width: 100%;
  }

  .illustrations {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .case-navbar {
    padding-top: 3em;
  }
}

#w-node-_18a64b4d-77ac-849e-8879-5fb98bc96d68-f8b13f02, #w-node-_8f262cf4-51b1-08f5-1c1d-99e3bf62b743-f8b13f02, #w-node-d86a062a-744e-e453-5484-26ef60087fe0-f8b13f02, #w-node-b0a9ed6d-5118-8af2-13d8-98312a392611-f8b13f02, #w-node-db9e3ab8-e7b4-b1e6-a3f6-952107c8eb19-f8b13f02, #w-node-d387631e-80c4-f0a4-e06b-2836fc097185-f8b13f02, #w-node-_00365459-e5f7-5d4d-9c58-2ea2275bb303-f8b13f02, #w-node-aba51240-e0b0-3e03-915e-3b68e5b37f20-f8b13f02, #w-node-f7d6d32b-b5cb-6440-ddc8-2cf24036377d-f8b13f02, #w-node-_1fdb18bc-19d6-acdf-1259-45e52f027363-01da7d14, #w-node-fa0f8451-c4c7-a31b-af25-50fc0b5bf8b4-50db1b94, #w-node-d4067fe5-c3b1-de36-392f-f8bf4e42baec-50db1b94, #w-node-eb10d217-9daf-a445-21d9-179a7840bdc5-50db1b94, #w-node-_6879a641-4cce-23c4-4971-f8a834c1e910-50db1b94, #w-node-d26881fc-0cb7-4d1f-69e4-856677ab9407-50db1b94, #w-node-d26881fc-0cb7-4d1f-69e4-856677ab940e-50db1b94, #w-node-d26881fc-0cb7-4d1f-69e4-856677ab9415-50db1b94, #w-node-d26881fc-0cb7-4d1f-69e4-856677ab941c-50db1b94 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Ppneuemontreal Book';
  src: url('../fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}