body {
  color: #000;
  letter-spacing: 0;
  font-family: Bagossstandardtrial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  letter-spacing: -1.25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 400;
  line-height: 116%;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  letter-spacing: -.03125vw;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 116%;
}

a {
  font-size: 1em;
  text-decoration: none;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.styleguide_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.global_embed {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.global_symbol {
  position: fixed;
  inset: 0% 0% auto;
}

.styleguide_rich-text p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.styleguide_rich-text h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3.28em;
}

.styleguide_rich-text h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.5em;
}

.styleguide_rich-text h3 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.19em;
}

.styleguide_rich-text h4 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.88em;
}

.styleguide_rich-text h5 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 1.67em;
}

.styleguide_rich-text h6 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.46em;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.text-size-h1 {
  font-size: 3.28em;
  line-height: 1.2;
}

.text-size-h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.text-size-h3 {
  font-size: 2.19em;
  line-height: 1.3;
}

.text-size-h4 {
  font-size: 1.88em;
  line-height: 1.3;
}

.text-size-h5 {
  font-size: 1.67em;
  line-height: 1.3;
}

.text-size-h6 {
  font-size: 1.46em;
}

.styleguide_form-input {
  border: 1px solid #0003;
  border-radius: 0;
  height: 3em;
  margin-bottom: 1em;
  padding: 0 .9em;
  font-size: 1.25em;
}

.text-size-display {
  font-size: 4.38em;
  line-height: 1.1;
}

.styleguide_form-submit {
  font-size: 1.25em;
}

.styleguide_list {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.page-padding {
  padding: 0 2.5em;
}

.page-padding.visuals-case {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.home-hero_layout {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 3em;
  display: flex;
}

.max-width-large {
  max-width: 67.5em;
}

.heading-wrapper-hero {
  grid-column-gap: 1.75em;
  grid-row-gap: 1.75em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tag-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-align-center {
  text-align: center;
}

.studios-worked_wrapper {
  grid-column-gap: 1.75em;
  grid-row-gap: 1.75em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tag {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  border: 1px solid #000;
  border-radius: 5em;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: .625em 1em .5625em;
  display: flex;
}

.tag.green {
  background-color: #efffff;
  border-color: #bdeacb;
}

.p-small {
  letter-spacing: .025vw;
  text-transform: uppercase;
  font-size: .75em;
  line-height: 120%;
}

.green-circle {
  background-color: #00ca40;
  border-radius: 50%;
  width: .75em;
  height: .75em;
}

.studios-wrapper {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.koto-logo {
  width: 3.7em;
}

.rise-logo {
  width: 4.375em;
  max-width: none;
}

.infinia-logo {
  width: 5.75em;
  max-width: none;
}

.heed-logo {
  width: 4.25em;
  max-width: none;
}

.nav-split {
  z-index: 99;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2em 2.5em 1.5em;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.nav-split.hide {
  display: none;
}

.side-part_nav {
  width: 15vw;
}

.side-part_nav.right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.navigation-links_wrapper {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-link_wrapper {
  grid-column-gap: .125em;
  grid-row-gap: .125em;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.link-text {
  letter-spacing: 3px;
  text-transform: uppercase;
  text-underline-offset: 8px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.link-text:hover {
  text-decoration: none;
}

.link-text.nav {
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.link-text.nav:hover {
  text-decoration: none;
}

.underline-div {
  width: 100%;
  height: 2px;
}

.underline-div.initial-hide {
  transform: translate(-105%);
}

.underline-div.initial-hide.nav {
  color: #fff;
  background-color: #000;
  height: 1px;
}

.underline-div.initial-hide.strong {
  margin-top: 4px;
}

.underline-div.initial-hide.strong.dark {
  background-color: #000;
}

.underline-div.initial-show {
  background-color: #000;
  height: 1px;
}

.underline-div.initial-show.white-bg {
  background-color: #fff;
}

.underline-div.initial-show._3height {
  height: .1875em;
}

.cta-work-home {
  overflow: hidden;
}

.no-break {
  word-break: keep-all;
}

.work_section {
  padding-top: 7em;
  padding-bottom: 7em;
}

.work-grid {
  grid-column-gap: 1.25em;
  grid-row-gap: 4em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-wrapper {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-project_wrapper {
  aspect-ratio: 4 / 3;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.info-project_wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tags-wrapper {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.project-image {
  width: 100%;
  max-width: none;
}

.info-text-proj_wrapper {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.p-regular {
  letter-spacing: 0;
  font-size: 1em;
  font-weight: 400;
}

.about_section {
  padding-top: 7em;
}

.max-width-xlarge {
  max-width: 83.375em;
}

.max-width-xlarge.center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.max-width-xlarge.center.about {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
}

.portrait-owener_wrapper {
  aspect-ratio: 3 / 4;
  width: 21.25em;
  max-width: 21.25em;
  overflow: hidden;
}

.image {
  width: 100%;
  max-width: none;
}

.about-info_section {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: auto;
  padding-bottom: 12em;
  display: flex;
}

.about-info_columns {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: auto;
  padding-bottom: 3em;
  display: flex;
}

.about-column {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20.75em;
  max-width: 20.75em;
  display: flex;
}

.cta-footer {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.social-media_logo {
  width: 1.25em;
}

.sm_wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.case-hero_wrapper {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16em;
  padding-bottom: 0;
  display: flex;
}

.full-width_img {
  width: 100%;
}

.small-info-case {
  grid-column-gap: .125em;
  grid-row-gap: .125em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.small-info-case.right {
  grid-column-gap: .625em;
  grid-row-gap: .625em;
  width: 15.875em;
  max-width: none;
  margin-top: .625em;
}

.small-info-case.left {
  grid-column-gap: .4375em;
  grid-row-gap: .4375em;
  width: 17.1875em;
}

.small-info-case.top {
  grid-column-gap: .4375em;
  grid-row-gap: .4375em;
  width: 33.125em;
}

.h5 {
  letter-spacing: -.015vw;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 132%;
}

.case-tags-wrapper {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.case-info {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-link {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.case-study-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.case-study-wrapper.center {
  justify-content: center;
  align-items: flex-start;
}

.in-link {
  text-decoration: underline;
}

.link-text-wrap {
  position: relative;
  overflow: hidden;
}

.arrow-small {
  width: 1.0625vw;
  max-width: none;
}

.case-tags {
  display: flex;
}

.case-tags.split-down {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.p-14 {
  text-transform: uppercase;
  font-size: .875em;
  line-height: 152%;
}

.text-wrapper-20 {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-wrapper-20._6col {
  max-width: 50.25em;
}

.text-wrapper-20._6col.space-xl {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}

.line-under {
  background-color: #000;
  width: 100%;
  height: 1px;
}

.in-text-link {
  text-decoration: underline;
}

.split-content {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.left-part-tags-case {
  width: 17.1875em;
}

.right-part-top-tags-case {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 15.9375em;
  margin-bottom: 3px;
  display: flex;
}

.text-split-team {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.team-img {
  justify-content: center;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  display: flex;
  overflow: hidden;
}

.case-visuals_section {
  padding-top: 0;
  padding-bottom: 8em;
}

.uneven-split_visuals {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.case-right_visual {
  width: 55vw;
}

.case-left_visual {
  width: 38vw;
}

.even-split_visuals {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.even-split_img {
  width: 50vw;
}

.about-case_section {
  padding-top: 8em;
  padding-bottom: 8em;
}

.footer-case_section {
  padding-top: 0;
  padding-bottom: 1.5em;
}

.flex {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex.space-between {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.separation-line {
  background-color: #d6d6da;
  width: 100%;
  height: 1px;
}

.text-in-between {
  width: 100%;
  margin-top: 4em;
}

.nav-div-move {
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: absolute;
  transform: translate(0);
}

.nav-div-move.diff-pages {
  opacity: 1;
  transform: none;
}

.menu-bar {
  z-index: 999;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2em 2.5em 1.5em;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.right-nav {
  justify-content: flex-end;
  align-items: center;
  width: 24em;
  display: flex;
}

.link-text-2 {
  color: #fff;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: .875em;
  font-weight: 300;
  line-height: 132%;
}

.link-text-2:hover {
  text-decoration: none;
}

.link-text-2.w--current {
  color: #fff;
  letter-spacing: -.03125em;
  text-decoration: none;
}

.link-text-2.is-2 {
  line-height: 132%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.p-xxs {
  color: #000;
  font-size: .875em;
  font-weight: 300;
  line-height: 140%;
}

.p-xxs.white {
  color: #fff;
}

.nav-menu {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-menu.right {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -.125em;
}

.logo-p {
  color: #fff;
  letter-spacing: -2px;
  margin-left: 0;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 92%;
}

.logo-p.is-2 {
  position: absolute;
  inset: 0% auto auto 0%;
}

.menu-open.desktop-hide {
  display: none;
}

.paragraph-m {
  color: #000;
  letter-spacing: -.1vw;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 112%;
}

.paragraph-m.white {
  color: #fff;
}

.menu-col-info {
  grid-column-gap: 1.375em;
  grid-row-gap: 1.375em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hide-nav-animation {
  width: 100%;
  height: 3em;
  max-height: 30em;
  display: block;
  position: relative;
  overflow: hidden;
}

.menu-container {
  z-index: 999;
}

.menu-overlay {
  z-index: 999;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  padding-left: 1.25em;
  padding-right: 1.25em;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.horizontal-line {
  background-color: #000;
  width: 100%;
  height: .0625em;
}

.footer-link-div {
  overflow: hidden;
}

.p-xs {
  color: #000;
  font-weight: 300;
  line-height: 140%;
}

.col-info {
  grid-column-gap: .125em;
  grid-row-gap: .125em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.footer-link-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link-text-wrap-2 {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.left-nav {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  justify-content: flex-start;
  align-items: center;
  width: 24em;
  margin-bottom: -.125em;
  display: flex;
}

.logo-link-wrapper.w--current:hover {
  color: #fff000;
}

.nav-hamburger {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  flex-flow: column;
  order: 0;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.lower-line-nav, .upper-line-nav {
  background-color: #fff;
  width: 32px;
  height: 1.5px;
}

.hamburger_2_wrap {
  grid-row-gap: var(--gap);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}

.hamburger_2_line {
  background-color: #fff;
  flex: none;
  width: 36px;
  height: 2px;
  transition: all .2s;
}

.hamburger_embed {
  position: absolute;
}

.marquee-wrapper {
  width: 100%;
  height: 34em;
  position: relative;
  overflow: hidden;
}

.marquee-wrapper.margin-btm {
  margin-bottom: 1.25em;
}

.marquee-track {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.marquee-list {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-flow: row;
  display: flex;
}

.testimonial-wrapper {
  background-color: #f2f2f6;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 4em;
}

.testi-img-wrapper {
  aspect-ratio: 3 / 4;
  width: 20em;
  overflow: hidden;
}

.testi-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: 100%;
  min-height: auto;
  max-height: none;
  display: flex;
}

.quote {
  width: 4em;
}

.testi-wrap {
  white-space: normal;
  width: 33em;
  max-width: 33em;
}

.upper-testi {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 33em;
  display: flex;
}

.flex-testi {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  height: 26em;
  display: flex;
}

.testi-info {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.p-16 {
  letter-spacing: 0;
  font-size: 1em;
}

.testimonials-section {
  padding-top: 11em;
}

@media screen and (max-width: 991px) {
  p {
    letter-spacing: -.5px;
  }

  .page-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .p-small {
    letter-spacing: .4px;
  }

  .navigation-links_wrapper {
    display: none;
  }

  .work-grid {
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .about-info_columns {
    grid-column-gap: 16px;
    grid-row-gap: 64px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: start;
    display: grid;
  }

  .h5 {
    font-size: 1.25em;
  }

  .case-info {
    margin-bottom: 4em;
  }

  .case-info.no-pad {
    margin-bottom: 0;
  }

  .case-study-wrapper {
    flex-flow: column;
  }

  .arrow-small {
    width: .8em;
  }

  .menu-links {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .menu-link-item-holder {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .menu-info {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    display: flex;
  }

  .menu-bar {
    z-index: 999;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-line {
    background-color: #fff;
    flex: 1;
    width: 2em;
    min-width: 2em;
    max-width: 2em;
    height: .25em;
    padding-bottom: 0;
    display: flex;
  }

  .menu-line.white {
    background-color: #fff;
  }

  .menu-overlay-bar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .right-nav {
    display: none;
  }

  .link-text-2 {
    font-size: 14px;
  }

  .nav-menu {
    z-index: 0;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    height: 100lvh;
    padding-top: 7em;
    padding-left: .75em;
    display: none;
    inset: 0%;
  }

  .logo-p {
    font-size: 2.5em;
  }

  .menu-open.desktop-hide {
    z-index: 70;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    cursor: pointer;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1em;
    margin-bottom: -1em;
    margin-right: -.75em;
    padding: 1em .75em 1em 1em;
    display: flex;
  }

  .menu-close {
    cursor: pointer;
    margin-top: -1em;
    margin-bottom: -1em;
    margin-right: -.75em;
    padding: 1em .75em 1em 1em;
  }

  .paragraph-m {
    font-size: 1.5em;
  }

  .paragraph-m.white.nav {
    letter-spacing: -.5px;
    font-family: Bagossstandardtrial, sans-serif;
    font-size: 4em;
    font-weight: 300;
  }

  .paragraph-m.white.nav.is-2 {
    position: absolute;
    inset: 0%;
  }

  .hide-nav-animation {
    justify-content: flex-start;
    align-items: center;
    height: 2.4em;
    display: flex;
  }

  .menu-overlay {
    background-color: #000;
    flex-flow: column;
    padding-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-link-item {
    width: 100%;
    overflow: hidden;
  }

  .horizontal-line {
    height: 1px;
  }

  .horizontal-line.nav {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

  .p-xs {
    font-size: .875em;
  }

  .p-xs.white {
    color: #fff;
  }

  .footer-link-wrapper {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .menu-copy {
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 96%;
    margin-top: 3em;
    padding-bottom: 2.5em;
    display: flex;
  }

  .line-menu {
    width: 100%;
    max-width: none;
  }

  .left-nav {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    width: auto;
    margin-bottom: 0;
    display: flex;
  }

  .nav-hamburger {
    display: flex;
  }

  .hamburger_2_line {
    background-color: #000;
  }

  .text-color-white {
    color: #fff;
  }

  .nav-logo {
    font-size: 1.5em;
  }

  .marquee-wrapper {
    height: 34em;
  }

  .marquee-wrapper.margin-btm {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }

  .page-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-info_section {
    padding-bottom: 8em;
  }

  .about-info_columns {
    grid-row-gap: 4em;
    flex-flow: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .about-column {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .small-info-case.right {
    width: 100%;
    padding-left: 26.8vw;
  }

  .small-info-case.left {
    justify-content: flex-start;
    align-items: flex-start;
    width: 16em;
  }

  .small-info-case.top {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .case-tags-wrapper {
    width: 100%;
  }

  .case-tags {
    justify-content: center;
    align-items: flex-start;
  }

  .case-tags.split-down {
    width: 100%;
  }

  .right-part-top-tags-case {
    width: 62.8vw;
  }

  .menu-line {
    flex: 0 auto;
    height: 3px;
  }

  .right-nav {
    width: auto;
    display: none;
  }

  .link-text-2 {
    margin-bottom: .25em;
  }

  .nav-menu {
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    padding-top: 20px;
    padding-bottom: .3em;
    padding-left: 1.5em;
  }

  .paragraph-m.white.nav {
    font-size: 3em;
  }

  .marquee-wrapper {
    height: 17em;
    font-size: .7em;
  }

  .marquee-wrapper.margin-btm {
    height: 74em;
    margin-bottom: 4px;
  }

  .marquee-wrapper.hide {
    display: none;
  }

  .marquee-track.reverse {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .testimonial-wrapper {
    padding: 2em;
    font-size: 12px;
  }

  .testi-content {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .flex-testi {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 3em;
  }

  p {
    letter-spacing: -.3px;
  }

  .page-padding {
    padding-left: 1em;
    padding-right: 1em;
  }

  .home-hero_layout {
    padding-bottom: 7em;
  }

  .home-hero_layout.footer {
    padding-bottom: 2em;
  }

  .text-align-center.no-break.cta {
    font-size: 7.2vw;
  }

  .link-text {
    font-size: 14px;
  }

  .work_section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-info_columns {
    justify-content: flex-start;
    align-items: center;
  }

  .about-column {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }

  .small-info-case.left {
    width: 12em;
  }

  .small-info-case.top {
    width: 100%;
  }

  .h5 {
    font-size: 1em;
  }

  .case-tags {
    justify-content: flex-start;
    align-items: flex-start;
    width: 91vw;
  }

  .case-tags.split-down {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .left-part-tags-case {
    width: 28vw;
  }

  .right-part-top-tags-case {
    width: 70vw;
  }

  .uneven-split_visuals {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .case-right_visual, .case-left_visual {
    width: 100%;
  }

  .even-split_visuals {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .even-split_img {
    width: 100%;
  }

  .menu-bar {
    padding: 2em 1em 1.5em;
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu-line {
    flex: 0 auto;
    width: 28px;
    min-width: 28px;
    height: 2px;
  }

  .right-nav {
    display: none;
  }

  .link-text-2 {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
  }

  .p-xxs {
    font-size: 12px;
    font-weight: 400;
  }

  .nav-menu {
    padding-bottom: .3em;
    padding-left: 1em;
  }

  .logo-p {
    font-size: 36px;
  }

  .menu-open.desktop-hide {
    margin-bottom: -1em;
  }

  .paragraph-m {
    font-size: 1.25em;
    font-weight: 500;
  }

  .paragraph-m.white.nav {
    font-size: 32px;
  }

  .menu-col-info.nav {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .hide-nav-animation {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .menu-container {
    position: static;
  }

  .menu-overlay {
    z-index: 9991;
    height: 100dvh;
    padding-top: 2.25em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .menu-link-item {
    overflow: hidden;
  }

  .p-xs {
    font-size: 12px;
    font-weight: 400;
  }

  .menu-copy {
    margin-top: 40px;
    padding-bottom: 48px;
  }

  .left-nav {
    display: flex;
  }

  .lower-line-nav, .upper-line-nav {
    height: 2px;
  }

  .hamburger_2_line {
    width: 28px;
  }

  .marquee-wrapper.margin-btm {
    height: 66em;
  }

  .testi-img-wrapper {
    width: 16em;
  }

  .testimonials-section {
    padding-top: 4em;
  }
}


@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-Bold.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-Bold.woff') format('woff'), url('../fonts/BagossStandardTRIAL-Bold.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-Light.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-Light.woff') format('woff'), url('../fonts/BagossStandardTRIAL-Light.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-Medium.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-Medium.woff') format('woff'), url('../fonts/BagossStandardTRIAL-Medium.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-LightItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-LightItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-LightItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-BoldItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-BoldItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-BoldItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-RegularItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-RegularItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-RegularItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-MediumItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-MediumItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-MediumItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-SemiBold.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-SemiBold.woff') format('woff'), url('../fonts/BagossStandardTRIAL-SemiBold.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-Regular.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-Regular.woff') format('woff'), url('../fonts/BagossStandardTRIAL-Regular.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-SemiBoldItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-SemiBoldItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-SemiBoldItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-ThinItalic.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-ThinItalic.woff') format('woff'), url('../fonts/BagossStandardTRIAL-ThinItalic.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Bagossstandardtrial';
  src: url('../fonts/BagossStandardTRIAL-Thin.woff2') format('woff2'), url('../fonts/BagossStandardTRIAL-Thin.woff') format('woff'), url('../fonts/BagossStandardTRIAL-Thin.ttf') format('truetype'), url('../fonts/BagossStandardTRIAL-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}