*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gilda Display', serif;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #ffffff;
    --text-color: #ffffff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.title {
    font-size: 3.75vw;
    font-family: inherit;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.small-title {
    font-size: 3vw;
    font-family: inherit;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.text {
    font-size: 1.25vw;
    font-family: inherit;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.small-text {
    font-size: 0.75vw;
    font-family: inherit;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.nav-text {
    font-size: 1.25vw !important;
}

.container {
    width: 100%;
    padding-right: 10vw;
    padding-left: 10vw;
    margin-right: auto;
    margin-left: auto;
}

.nav-container {
    width: 100%;
    padding-right: 10vw;
    padding-left: 10vw;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1600px) {
    .title {
        font-size: 4vw;
    }
    
    .text {
        font-size: 1.5vw;
    }
    
    .small-text {
        font-size: 1vw;
    }

    .nav-text {
        font-size: 1.5vw !important;
    }
}


@media (max-width: 1280px) {
    .title {
        font-size: 4vw;
    }
    
    .text {
        font-size: 1.5vw;
    }
    
    .small-text {
        font-size: 1vw;
    }

    .nav-text {
        font-size: 1.5vw !important;
    }
}

 /* Start Nav Bar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    min-height: 150px;
    height: 10vh;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo p {
    margin-left: 10px;
}

.logo-img {
    object-fit: contain;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 95px;
    mix-blend-mode: hard-light;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    font-family: inherit;
    color: var(--text-color);
    font-weight: 400;
    list-style: none;
}

.navbar-link a {
    margin-left: 2vw;
    position: relative;
}

.navbar-link a::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s cubic-bezier(.85,.1,.64,1.09);
}

.navbar-link a:hover::before {
    width: 100%;
}

/* Start BURGER MENU */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1080px) {
    body {
        overflow-x: hidden;
    }

    .navbar-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #000;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60vw;
        z-index: 10;
        justify-content: center;
        transition: all 800ms cubic-bezier(1, 0, 0.68, 1) !important;
    }

    .navbar-links a {
        font-size: 4vw;
        text-transform: uppercase;
    }

    .navbar-links li {
        margin: 17.5px 20vw;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: fixed;
        z-index: 10;
        right: 2em;
    }
}

@media screen and (max-width: 600px) {

    .navbar-links {
        width: 80vw;
    }

    .navbar-links a {
        font-size: 6vw;
    }

    .navbar-links li {
        margin: 17.5px 25vw;
    }

}


.nav-active {
    transform: translateX(0%);
}
/* End BURGER MENU

/* Start Nav Burger Animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* End Nav Burger Animation */
/* End Nav Bar */




/* Home */
#home-section {
    display: flex;
    margin-top: 25px;
}

.home-texts {
    flex: 0.5;
    width: 100%;
}

.home-text {
    padding-top: 12.5vh;
}

.home-text h2 {
    margin-left: 2px;
    margin-bottom: 2px;
}

.home-img__div {
    display: flex;
    flex: 0.5;
    width: 100%;
    justify-content: flex-end;
}

.home-img {
    object-fit: contain;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 850px;
}

.book-appointment__div {
    margin-top: 7.5vh;
    display: inline-block;
}

.book-appointment {
    position: relative;
    cursor: pointer;
}

.book-appointment::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 40%;
    left: 0;
    bottom: -10px;
    transition: 0.3s cubic-bezier(.85,.1,.64,1.09);
}

.book-appointment:hover::before {
    width: 100%;
}

.review {
    display: flex;
    flex-direction: column;
    margin-top: 27.5vh;
}

.rating {
    display: flex;
}

.score {
    margin-right: 5px;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars img {
    margin-left: 5px;
}

.reviews-number {

}

.home-img__div p {
    display: none !important;
}

.video-div {
    width: 100%;
    margin-top: 10vw;
    margin-bottom: 5px;
}

.video-div video {
    width: 100%;
    height: auto;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.testimonial p {
    text-align: end;
    margin-bottom: 15px;
}




/* Services */
#services {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
}

.all-services {
    display: flex;
}

.services {
    flex: 0.5;
    width: 100%;
}

#services h2 {
    margin-bottom: 5vh;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-top: solid 1px rgb(20, 20, 20);
    transition: border 300ms ease-in-out;
}

.service:hover {
    border-top: solid 1px rgb(255, 255, 255);
}

.services-img__div {
    display: flex;
    flex: 0.5;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.services-img {
    object-fit: contain;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 600px;
}





/* Team */
#team {
    margin-top: 15vh;
}

#team h2 {
    text-align: center;
    margin-bottom: 7.5vh;
}

.barbers {

}

.empty {
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 440px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.second-row {
    display: flex;
    justify-content: space-between;
}

.barber img {
    object-fit: contain;
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 440px;
}

.barber {
    margin-bottom: 7.5  vh;
}




/* Contact */
#contacts {
    margin-top: 15vh;
}

#contacts h2 {
    margin-bottom: 10vh;
}

.contacts {
    display: flex;
}

.contact-info {
    flex: 0.5;
}

.business-hours {
    flex: 0.5;
}

.footer-link {
    margin-top: 1.5vh;
    display: inline-block;
}

.footer-link p {
    margin-bottom: 5vh;
}

.footer-logo {
    width: 100%;
}

.footer-logo img {
    object-fit: contain;
    width: 100%;
    max-width: 412px;
    height: 100%;
    max-height: 198px;
    mix-blend-mode: hard-light;
    margin-bottom: 20px;
}

.phone {
    font-size: 1.5vw;
}

.location {
    margin-top: 2vh;
}

.instagram a {
    margin-top: 5vh;
    display: flex;
    align-items: center
}

.instagram img {
    object-fit: contain;
    width: 100%;
    max-width: 18px;
    height: 18px;
    max-height: 18px;
    margin-right: 10px;
}

.copyright p {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}





/* Make website responsive */
@media (max-width: 1600px) {
    .title {
        font-size: 4vw;
    }
    
    .small-title {
        font-size: 3.25vw;
    }

    .text {
        font-size: 1.5vw;
    }
    
    .small-text {
        font-size: 1vw;
    }

    .nav-text {
        font-size: 1.5vw !important;
    }

    .barber {
        margin-right: 5vw;
    }

    .empty {
        max-width: 400px;
        max-height: 400px;
    }
}


@media (max-width: 1280px) {
    .title {
        font-size: 4.15vw;
    }

    .small-title {
        font-size: 3.50vw;
    }
    
    .text {
        font-size: 1.65vw;
    }
    
    .small-text {
        font-size: 1.15vw;
    }

    .nav-text {
        font-size: 1.65vw !important;
    }

    .logo-img {
        width: 100%;
        max-width: 80px;
        height: auto;
        max-height: 75px;
        mix-blend-mode: hard-light;
    }

    #home-section {
        margin-top: 2px;
    }

    .review {
        margin-top: 25vh;
    }

    .services-img {
        max-width: 350px;
        max-height: 500px;
    }

    .empty {
        max-width: 390px;
        max-height: 390px;
    }
}

@media (max-width: 1150px) {
    .empty {
        max-width: 300px;
        max-height: 300px;
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img {
        max-width: 312px;
        max-height: 198px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

@media (max-width: 800px) {
    #home-section {
        flex-direction: column;
    }

    .home-text {
        padding-top: 5vh;
    }

    .home-text h2 {
        padding-bottom: 5px;
    }

    .review {
        margin-top: 10vh;
        margin-bottom: 2.5vh;
    }

    .title {
        font-size: 8.00vw;
    }

    .small-title {
        font-size: 6.00vw;
    }
    
    .text {
        font-size: 2.00vw;
    }
    
    .small-text {
        font-size: 1.50vw;
    }

    .nav-text {
        font-size: 2.50vw !important;
    }

    .navbar {
        min-height: 125px;
    }

    .logo-img {
        max-width: 60px;
        max-height: 55px;
    }

    .book-appointment__div {
        margin-top: 5vh;
    }

    .home-img__div {
        display: flex;
        flex-direction: column;
    }

    .home-img__div p {
        display: block !important;
        margin-top: 5px;
        letter-spacing: 1vw;
        text-align: center;
    }

    .all-services {
        flex-direction: column;
    }

    .services-img__div {
        margin-top: 5vh;
        justify-content: center;
    }

    .services-img {
        max-height: 600px;
        max-width: 450px;
    }

    .empty {
        max-width: 240px;
        max-height: 240px;
    }

    .first-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .second-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .barber {
        margin: 0;
        margin-bottom: 5vh;
    }

    .barber img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 10.00vw;
    }

    .small-title {
        font-size: 8.00vw;
    }
    
    .text {
        font-size: 4.00vw;
    }
    
    .small-text {
        font-size: 3.00vw;
    }

    .nav-text {
        font-size: 4.50vw !important;
    }

    .video-div {
        margin-top: 20vw;
    }
}
