html, body {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Work Sans', sans-serif;
}

.body::-webkit-scrollbar {
    display: none;
  }

/* START HOME PAGE */
.page {
    background-color: #111111;
    position: relative;
    display: block;
    min-height: 100vh;
}

/*    #d87093   */

/* Start Nav Bar */

.bad-script-font {
    letter-spacing: 3px;
    font-family: 'Cormorant Garamond', serif;
    /* Cutive Mono */
}

.nav-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 12.5vh;
    padding: 0em 4em;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    justify-content: center;
    margin: 0;
    padding: 0;
} 

.count {
    counter-increment: item 1;
}

.count::before {
    content: "0" counter(item) ".";
    font-size: 16px;
    color: aqua;
}

.nav-links li {
    padding: 20px;
}

#resume a {
    color:aqua;
}

.nav-zone a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 12px 10px;
}

.nav-zone .logo a:hover {
    color:#fff;
    text-decoration: none;
}

.nav-links a:hover {
    transition: all 0.3s;
    color: aqua;
}

.logo a {
    font-size: 2em;
}
/* Start BURGER MENU */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-zone {
        padding: 0em 2em;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #000;
        opacity: 0.95;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        position: fixed;
    }

    .count::before {
        font-size: 2.5em;
    }

    .nav-links a {
        font-size: 3.5em;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: "";
    }

    .logo a {
        font-size: 2.5em;
    }
}

.nav-active {
    transform: translateX(0%);
}
/* End BURGER MENU

/* Start Nav Burger Animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6.5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6.5px);
}
/* End Nav Burger Animation */
/* End Nav Bar */

/* Start side nav links */
.left-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    left: 40px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #9b9a9a;
    transition: color 0.5s;
    font-size: 1.25em;
}

.nav-link:hover {
    color: aqua;
}

.left-links:after {
    content: "";
    display: block;
    height: 150px;
    width: 1px;
    background-color: #9b9a9a;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
}
/* End side nav links */

/* Start right mail */
.right-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 40px;
}

.right-mail {
    writing-mode: vertical-rl;
    color: #9b9a9a;
    font-size: 1em;
    letter-spacing: 1px;
    transition: color 0.5s;
}

.right-mail:hover {
    text-decoration: none;
    color: aqua;
}

.right-nav:after {
    content: "";
    display: block;
    height: 150px;
    width: 1px;
    background-color: #9b9a9a;
    position: relative;
    margin-right: 15px;
    margin-top: 20px;
}
/* End right mail */

/* Make the side nav display none on smaller screens */
@media screen and (max-width: 1420px) {
    .left-links {
        display: none;
    }

    .right-nav {
        display: none;
    }
}
/* End side nav responsive */


.container {
    padding-bottom: 8em; 
}

/* Start Jumbotron */
.jumbotron {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: space-around;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-top: 10em;
}


@media screen and (max-width: 1024px) {
    .jumbotron {
        margin-top: 7em;
    }
}

@media screen and (max-width: 720px) {
    .jumbotron {
        margin-top: 3em;
    }
}

.title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin-bottom: 10px;
}

#hi {
    font-size: 1.5em;
    color: aqua;
    font-weight: normal;
    padding-left: 5px;
    margin-bottom: 5px;
}

.subtitle {
    color: #9b9a9a;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin-bottom: 0.5em;
}

#mini-text {
    color: #9b9a9a;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 720px) {
    #hi {
        font-size: 1em;
        margin-bottom: 3px;
    }

    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .logo a {
        padding-left: 0;
    }
}

.page .btn {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    margin-top: 2em;
    border: 2px solid aqua;
    background-color: transparent;
}

.page .custom-btn {
    padding: 0.1em 1em;
    min-width: 150px;
    outline: none;
    border-radius: 3px;
    color: aqua;
    font-size: 1em;
    transition: all 0.3s;
    padding: 0.5em 0.5em;
}

.page .btn:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: rgb(0, 66, 66);

}


/* End Jumbotron */
/* END HOME PAGE */


.titles {
    color: #ffffff;
    font-size: 2.5em;
    text-align: left;
    display: flex;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
}

.titles::after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: #9b9a9a;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1020px) {
    .titles {
        font-size: 2em;
    }

    .titles::after {
        margin-top: 20px;
    }
}



/* START PROJECT PAGE */
#projects {
    background-color: #111;
    display: block;
}

/* Make the flex to wrap when it doesn't fit */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0;
    padding: 3.5em 0 1.5em 0;
}

/* Make the flex to adjust by the container */
.row > * {
    flex-basis: calc(calc(800px - 100%) * 999);
    flex-grow: 1;
}

.count-titles-project::before {
    content: "01.\00a0";
    font-size: 0.5em;
    color: aqua;
    margin-left: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-project {
    filter: brightness(50%);
    transition: 0.3s;
}

.img-project:hover {
    filter: brightness(100%);
}

.text-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9b9a9a;
}

.text-project p {
    text-align: center;
    font-size: 1em;
}

.name-project {
    font-size: 2em;
    color: #fff;
}

.list-inline-item {
    display: flex;
    flex-direction: column;
}

.list-inline-item > a {

    color: aqua;
    text-decoration: none;
    text-align: center;
    padding: 0 1em 0 1em;
    font-size: 1em;
    transition: color 0.5s;
}


.list-inline-item > a:hover {
    text-decoration: none;
    color: white;
}

#projects .btn {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    margin-top: 0.5em;
    border: 2px solid aqua;
    background-color: transparent;
}

#projects .custom-btn {
    padding: 0.1em 1em;
    min-width: 200px;
    outline: none;
    border-radius: 0px;
    color: #fff;
    font-size: 1.5em;
    transition: all 0.3s;
}

#projects .btn:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: rgb(0, 66, 66);
}

/* Change the text and image order when show as column */
@media screen and (max-width: 990px) {
    #projects #a {
        order: 2;
    }

    #projects #b {
        order: 1;
    }
}
/* END PROJECT PAGE */


/* START AB0UT PAGE */
#about {
    background-color: #111;
    display: block;
}

.count-titles-about::before {
    content: "02.\00a0";
    font-size: 0.5em;
    color: aqua;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content .row {
    padding-bottom: 0;
}

#profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTitle {
    padding-top: 1.5em;
}

.about-text {
    font-size: 1.25em;
    color: #9b9a9a;
}

.about-text a{
    color: aqua;
    font-size: 1em;
    text-decoration: none;
}

#country {
    color: aqua;
}

/* END ABOUT PAGE */

/* START SKILLS PAGE */
#skills {
    background-color: #111;
    display: block;
}

.skills-text{
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
    padding: 0;
}

/* Make the flex to wrap when it doesn't fit */
#skills .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0;
    padding: 3em 0 0 0; 
    justify-content: space-between;
}

/* Make the flex to adjust by the container */
#skills .row > * {
    flex-basis: calc(calc(800px - 100%) * 999);
    flex-grow: 1;
    text-align: center;
    color: #9b9a9a;
    font-size: 1em;
}

#skills .row h2 {
    padding-bottom: 1em;
    color: aqua;
}
/* END SKILLS PAGE */


/* START CONTACT PAGE */
#contact {
    background-color: #111;
    display: flex;
}

#contact .contact-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: flex-start;
    margin-top: 8em;
    margin-bottom: 8em;
}

.contact-title {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    margin: 0;
}

.count-titles-contact::before {
    content: "03.\00a0";
    font-size: 0.5em;
    color: aqua;
}

#contact #lets-talk {
    color: #9b9a9a;
    padding-top: 2em;
    font-size: 1.25em;
    width: 60%;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1020px) {
    .contact-title {
        font-size: 2.5em;
    }
    
    #contact #lets-talk {
        font-size: 1.10em;
        width: 100%;
    }
}

#contact .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .btn {
    color: #fff;
    margin-top: 0.25em;
    border: 2px solid aqua;
}

#contact .custom-btn {
    padding: 0.5em 0em;
    width: 250px;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5em;
    transition: all 0.3s;
    margin: 0;
}

#contact .btn:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: rgb(0, 66, 66);
}

/* FOOTER START */
#copyright {
    background-color: #111;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.footer-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: aqua;
}


.copyright-text {
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
    transition: color 0.5s;
}

.copyright-text:hover{
    text-decoration: none;
    color: aqua;
}

#copyright .nav-link {
    font-size: 1.5em;
    color: #9b9a9a;
    transition: color 0.5s;
}

#copyright .nav-link:hover {
    color: aqua;
}

/* Make the footer links appear when less than 1080px */
@media screen and (min-width: 1420px) {
    #copyright .nav-link {
        display: none;
    }
}
/* FOOTER END */