html, body {
    margin: 0;
    /*font-family: 'Nunito', sans-serif; */
    scroll-behavior: smooth;
    font-family: 'Inconsolata', monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
  }

/* START HOME PAGE */
.page {
    background-color: #0a0a0a;
    position: relative;
    height: 100vh;
    display: block;
}

/* Make the particles full screen on smartphones */
/*@media screen and (max-width: 720px) {
    #particles-js {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}*/
/*    #d87093   */

/* Start Nav Bar */
.logo a {
    font-size: 2.5em;
}

.bad-script-font {
    letter-spacing: 3px;
    font-family: 'Cormorant Garamond', serif;
    /* Cutive Mono */
}

.nav-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 15vh;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    justify-content: center;
    margin: 0;
    padding: 0;
} 

.nav-links li {
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

a:hover {
    color:#fff;
    text-decoration: none;
}

.nav-links a:hover {
    transition: all 0.3s;
    color: #48A2FA;
}

#name {
    color: #d87093;
}

/* Start BURGER MENU */
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #000;
        opacity: 0.95;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        position: fixed;
    }

    .nav-links a {
        font-size: 3.5em;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        /*position: fixed;*/
    }

    .logo a {
        font-size: 2.5em;
    }
}

.nav-active {
    transform: translateX(0%);
}
/* End BURGER MENU

/* Start Nav Burger Animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6.5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6.5px);
}
/* End Nav Burger Animation */
/* End Nav Bar */






/* Start Jumbotron */

.jumbotron {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: space-around;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-top: 10em;
}


@media screen and (max-width: 1024px) {
    .jumbotron {
        margin-top: 7em;
    }
}

@media screen and (max-width: 720px) {
    .jumbotron {
        margin-top: 3em;
    }
}

.title {
    color: #fff;
    font-size: 3em;
    margin-bottom: 0.5em;
    
}

.subtitle {
    color: #78BCFB;
    font-size: 2em;
}


@media screen and (max-width: 1024px) {
    .title {
        font-size: 2.5em;
    }
    .subtitle {
        font-size: 2em;
    }
}

.page .btn {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    margin-top: 0.5em;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.page .custom-btn {
    padding: 0.1em 1em;
    min-width: 150px;
    outline: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 1em;
    transition: all 0.3s;
}

.page .btn:hover {
    transform: scale(1.1);
    color: #0E7EF8;
    background-color: #fff;
}

@media screen and (max-width: 720px) {
    .btn {
        background-color: #050505;
    }
}
/* End Jumbotron */
/* END HOME PAGE


/* START PROJECT PAGE */
#projects {
    background-color: #fff;
    position: relative;
    display: block;
}

.projects-title {
    padding-top: 2.5em;
    color: #0a0a0a;
    font-size: 3em;
    /*border-bottom: 2px solid #d87093;*/
    text-align: center;
    letter-spacing: 0.2em;
    
}

/* Make the flex to wrap when it doesn't fit */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0;
    padding: 5em 0;
}

/* Make the flex to adjust by the container */
.row > * {
    flex-basis: calc(calc(800px - 100%) * 999);
    flex-grow: 1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-project {
    font-size: 2em;
}

#projects .btn {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    margin-top: 0.5em;
    border: 2px solid #979ea5;
    background-color: transparent;
}

#projects .custom-btn {
    padding: 0.1em 1em;
    min-width: 200px;
    outline: none;
    border-radius: 0px;
    color: #0E7EF8;
    font-size: 1.5em;
    transition: all 0.3s;
    margin: 0;
}

#projects .btn:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #0E7EF8;
}

/* Change the text and image order when show as column */
@media screen and (max-width: 990px) {
    #projects #a {
        order: 2;
    }

    #projects #b {
        order: 1;
    }
}
/* END PROJECT PAGE */

/* START AB0UT PAGE */
#about {
    background-color: #fff;
    position: relative;
    display: block;
}

.about-title {
    color: #0a0a0a;
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
    letter-spacing: 0.2em;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    color: #0a0a0a;
    font-size: 1.5em;
}
/* END ABOUT PAGE */

/* START SKILLS PAGE */
#skills {
    background-color: #fff;
    position: relative;
    display: block;
}
.skills-text{
    padding-top: 1.5em;
    color: #0a0a0a;
    font-size: 3em;
    /*border-bottom: 2px solid #d87093;*/
    text-align: center;
    letter-spacing: 0.2em;
}

#skills .row {
    justify-content: space-between;
}

#skills .row > * {
    text-align: center;
    color: #0a0a0a;
}

#skills .row h2  {
    padding-bottom: 1em;
}
/* END SKILLS PAGE */

/* START CONTACT PAGE */
#contact {
    background-color: #090909;
    position: relative;
    display: flex;
    height: 94vh;
}

.contact-title {
    color: #fff;
    padding-top: 4em;
    font-size: 3em;
    /*border-bottom: 2px solid #d87093;*/
    text-align: center;
    letter-spacing: 0.2em;
}

#contact p {
    color: #fff;
    padding-top: 2em;
    font-size: 2em;
    text-align: center;

}
#contact .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .btn {
    color: #fff;
    border-color: #fff;
    margin-top: 0.5em;
    border: 2px solid #fff;

}

#contact .custom-btn {
    padding: 0.5em 0em;
    width: 300px;
    outline: none;
    border-radius: 0px;
    color: #fff;
    font-size: 1.5em;
    transition: all 0.3s;
}

#contact .btn:hover {
    transform: scale(1.1);
    color: #0E7EF8;
    background-color: #fff;
}


/* Footer Start */
#copyright {
    background-color: #090909;
}

#copyright {
    flex-direction: row;
}

#copyright .row {
    padding: 0;
}

.footer-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.push {
    margin-left: auto;
}

.copyright-text {
    display: flex;
    font-size: 1em;
    color: #fff;
    margin: 0 0 0 1em;
    justify-content: flex-start;
    align-items: center;
}

/* Make the footer responsive */
@media screen and (max-width: 800px) {
    #copyright .row .copyright-text {
        order: 2;
    }

    #copyright .row .footer-links {
        order: 1;
    }
    
    #copyright .row .push {
        margin: 0;
    }
}
/* Footer End */