html, body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

#page {
    background-color: #0f0f0f;
    position: relative;
    height: 100vh;
}


/* Nav Bar */
.logo {
    letter-spacing: 3px;
    text-transform: lowercase;
}

.logo a {
    font-size: 2em;
}

.nav-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 15vh;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    justify-content: center;
    margin: 0;
    padding: 0;
} 

.nav-links li {
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/* BURGER MENU */
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
    transition: all 0.3s ease;
    
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #000;
        opacity: 0.9;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        position: fixed;
    }

    .nav-links a {
        font-size: 6em;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        /*position: fixed;*/
    }

    .logo a {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        display: flex;
        flex-direction: column;
        background-color: #000;
        opacity: 0.9;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        position: fixed;
    }

    .nav-links a {
        font-size: 7em;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        /*position: fixed;*/
    }

    .logo a {
        font-size: 4em;
    }
}

.nav-active {
    transform: translateX(0%);
}

/* Nav Burger Animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6.5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6.5px);
}
/* END Nav Bar */





.container {
    height: 100vh;
}


